# LaTeX junk
*.auxlock
*.dep
*.dpth
*.md5
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdf
*.bbl
*.blg

# TikZ clutter
tikz/*.log
tikz/*.md5
tikz/*.dpth

# Remove the figure PDFs
tikz/*.pdf
!images/*.pdf
!images/*.png
!images/*.jpg

# VS Code specific
.vscode/